  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/images/profile/profile1.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a routerLink="/intro">Arunachala<span style="color: #54cb95;">dinesh.</span></a></h1>
        <div class="social-links mt-3 text-center">
          <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
          <a target="_blank" href="https://www.linkedin.com/in/arunachaladinesh-kanagavelu-38599b16b/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li (click)="getActiveTab('intro')" [class.active]="activetab === 'intro'"><a routerLink="/intro" ><i class="icofont-ui-home"></i> <span style="margin-top: 10px;">Intro</span></a></li>
          <li (click)="getActiveTab('about')" [class.active]="activetab === 'about'"><a routerLink="/about" ><i class="icofont-man-in-glasses"></i> <span style="margin-top: 10px;">Im a ...</span></a></li>
          <li (click)="getActiveTab('resume')" [class.active]="activetab === 'resume'"><a routerLink="/resume" ><i class="icofont-file-document"></i> <span style="margin-top: 10px;">My Resume</span></a></li>
          <li (click)="getActiveTab('contact')" [class.active]="activetab === 'contact'"><a routerLink="/contact" ><i class="icofont-contacts"></i> <span style="margin-top: 10px;">Tell my mistakes</span></a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->