<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <div class="copyright wow slideInLeft" data-wow-duration="2s">
        <div class="row">
          <div class="col-6">
            <p>Thank You</p>
            <p>For Visiting The <span style="color: #54cb95;">Page!</span></p>
          </div>
          <div class="col-6" id="wave" >
            <i class='bx bx-wink-tongue bx-tada bx-flip-horizontal' ></i>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->
