<main id="main">  
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title" data-aos="fade-right">
            <h2>My Resume</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item">
              <h4>Arunachaladinesh K</h4>
              <p>Innovative and Creative Web Designer as a fresher, designing and developing a website with classic style and do stylish website as per the client desire.</p>
              <ul>
                <li>No 32,1st Cross,Kamban Nagar,Reddiarpalayam,Puducherry-605010,India</li>
                <li><a href="tel:8098809037">+91 8098809037</a></li>
                <li><a href="mailto:arunachaladineshkanagavelu@gmail.com">arunachaladineshkanagavelu@gmail.com</a></li>
              </ul>
            </div>
            <div class="resume-item">
            </div>

          </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelor of Technology in Computer Science and Engineering</h4>
                <h5>2015 - 2019</h5>
                <p>Sri Manakula Vinayagar Engineering College, Puducherry, India</p>
                <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p> -->
              </div>
              <div class="resume-item">
                <h4>Higher Secondary (H.S.C)</h4>
                <h5>2013 - 2015</h5>
                <p>Jeevanandham Boys Govt Higher Sec. School, Puducherry, India</p>
                <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
              </div>
              <div class="resume-item">
                <h4>Secondary Schooling (S.S.L.C)</h4>
                <h5>2001 - 2013</h5>
                <p>Immaculate Heart of Mary Govt. Aided Boys and Girls High School, Puducherry, India</p>
                <!-- <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p> -->
              </div>
              <div class="resume-item">
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <h3 class="resume-title">Working In</h3>
              <div class="resume-item">
                <h4>Fullstack Developer</h4>
                <h5>2019 - Present</h5>
                <p>Orletech, Puducherry, India</p>
                <ul>
                  <li>Willing to  design, development, and implementation of classic style of website</li>
                  <li>And it's My first ever company working in my hometown </li>
                  <li>I learning the lot of the things in web development and this is the good manifestation from my learning </li>
                  <li>I'm worked in website of the company, using Dot-net and entity framework as front-end developer</li>
                  <li>I'm worked in newspaper project to create website using the angular js technology and typescript</li>
                  <li>I'm worked in Orletech CRM project using php language with laravel framework</li>
                </ul>
              </div>
              <div class="resume-item">
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
      </main>
      